/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
    font-family: 'Poppins';
    color: #4b4b4b;
}
.phone, .at, .gps{
    width:30px;
    height:50px;
}
.nav-tab{
    z-index: 2;
}
.navbar{
    background-color: #1e79b6;
    -webkit-box-shadow:0 0 10px rgba(135,135,135, 0.6);
    -moz-box-shadow:0 0 10px rgba(135,135,135, 0.6);
    box-shadow: 2px 2px 10px 0 rgba(135,135,135, 0.6);
    height:80px;
    width: 100%;
}
button{
    border:none;
    outline: none;
}
.bg-image{
    height: 500px;
    background: url(./assets/bg-image.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    

}
.name{
    font-family: 'Poppins';
    font-size: 35px; 
    color:#FFFFFF;
    margin-top: 80px;
    font-weight: 600;
 }
 .aboutMeContent{
    text-align: center;
    color: white;
    word-spacing: 2px;
}
.designation{
    color: #5B86E4;
    font-size: 20px;
    font-family: 'Poppins';
}
.footer, .footer-icon{
    background-color: #1e79b6;
    color:white;
    height:60px;
}
.copyright{
    font-size: '10px';
    font-weight: 'light';
    font-family: 'Poppins';
    color: white;
}
.wid-txt{
    margin-top: 60px;
}
  .carousel-item > img{
    border-radius: 2px;
  }
.card{
    border: 0px;
    border-radius: 0px;
    padding: 20px 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
button:focus {
    outline: none;
    border: 0;
}

.heading {
    color: #5B86E4;
    font-size: 20px;
    font-weight: 600;
    display: block;
    z-index:1;
}
.heading:after {
	content: ' ';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 2em;
  width: 100%;
  border-bottom: 3px solid;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
    transform: scale(0,1);
    border-radius: 3%;
}

.heading:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
    transform: scale(1);
    color:#FFB700;
    cursor: pointer;
    z-index: 1;

}
.techImg{
    margin-top: 30px;
    padding-right: 10px;
}
.techImgRow2{
    margin-top: 30px;
    padding-right: 30px;
}
.paddingPath2{
    margin-left: 15px;
}
.portfolio{
  text-align: center;
  margin-top: 100px;
}
.work-box{
    background-color: #5B86E4;
}
/* .work-card{
    border: 1px solid #5B86E4;
} */
.work-card, .contact-container{
    -webkit-box-shadow:0 0 15px rgba(135,135,135, 0.6);
    -moz-box-shadow:0 0 15px rgba(135,135,135, 0.6);
    box-shadow: 2px 2px 15px 0 rgba(135,135,135, 0.6);
    border-radius: 2px;
    transition: all 0.2s ease 0s;
}
.work-role,.work-period {
    color:white;
}
.navbar-nav > .nav-item{
    font-size: 15px;
    color:white;
}
.nav-item > .nav-link{
    color:#4b4b4b;
}
 .nav-item > .nav-link.active, .nav-link.focus {
     color:#5B86E4;
    font-weight:550;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.downloadcv{
    color: #FFFFFF;
    font-weight: 550;
    /* padding: 10px 100%; */
    width:78%;
    background-color: #5B86E4;
    padding: 10px;
    outline: none;
    border:0;

}
.skills{
    padding:10px 0px;
}
  .title-bar-html{
    font-size: 16px;
    font-weight: bold;
  }

  .skillhtml{
    background-color:#FF715A;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillcss{
    background-color:#1758A7;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skilljs{
    background-color:#F1BF26;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillts{
    background-color:#007ACC;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillbs{
    background-color:#673AB7;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillxd{
    background-color:#FE2AC1;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillps{
    background-color:#35C3FD;
    width:0px;
    height:5px;
    border-radius: 2px;
  }
  .skillai{
    background-color:#FC7C1B;
    width:0px;
    height:5px;
    border-radius: 2px; 
  }
  .skillae{
    background-color:#393665;
    width:0px;
    height:5px;
    border-radius: 2px; 
  }
  .skillf{
    background-color:#cfc2b8;
    width:0px;
    height:5px;
    border-radius: 2px; 
  }
  .skillwp{
    background-color:#21759b;
    width:0px;
    height:5px;
    border-radius: 2px; 
  }
.logo{
    bottom: 25%;
    left: 25%;
}
.project-link{
    color: #5B86E4;
}
@keyframes flipped_item{
    0% {
        transform:rotateY(0);
    }
    50%{
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);

    }
}
    .flipped { 
        /* transform: rotateY(180deg);
        transition: 0.5s ease-in infinite;
        animation: ease-in-out infinite;*/
        z-index: 2;
        animation: flipped_item 4s infinite;
      }
.card-text, h4, li{
    color:#4b4b4b;
}
.card-text, .category{
    max-width:450px;
    font-size: 15px;
    line-height: 25px;
}
.school{
    margin-top: 20px;
}
.college{
    margin-top: 45px;
}
.edu-text, .work-period {
    font-size:15px;
}
.work-role{
    color: white;
}

.project-img:hover {
  filter: contrast(2);
  -webkit-filter: contrast(2);
  transition: 0.6s;
}
@media screen and (max-width: 2560px) {

}
@media screen and (max-width: 1920px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
.footer{
    height: 115px;
}
.student_img{
    width: 340px ;
}
}
@media screen and (max-width: 576px) {

} 

.Responsibilities{
    color: #0464BA;
}
.contacticontext{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: bold;
}
.contactText{
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: large;
    color: #4b4b4b;
}
html::-webkit-scrollbar {
    width:0px;
 }
.cricket, .music, .beer, .cinema, .bike{
    height:120px;
    width:auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
  .footer{
      width:100%;
  }

  